@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@plugin "daisyui";

@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

@layer base {
  h2,
  .logo,
  .card {
    font-family: "Italiana", serif;
  }

  p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
  }
}

@layer components {
}

@layer utilities {
  /* Scroll Animation */
  .scroll-animate {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }

  .scroll-animate.show {
    opacity: 1;
    transform: translateY(0);
  }
}
