---
import bjergCard from '../assets/images/bjerg_card.webp';
---

<a href="/eventyr" class="card bg-base-100 w-96 shadow-md">
  <figure>
    <img
      src={bjergCard} alt="Bjerg"
      class="h-60 w-full object-cover"
    />
  </figure>
  <div class="card-body text-center">
    <div class="text-2xl font-light leading-snug space-y-1">
      <p>HAWAII</p>
      <p>GILI ISLANDS</p>
      <p>BALI</p>
      <p>AUSTRALIEN</p>
      <p>JAPAN</p>
    </div>
    <div class="flex justify-between text-sm font-light mt-4">
      <div class="text-left">
        <p class="text-gray-500">Næste rejse</p>
        <p>15. januar 2026</p>
      </div>
      <div class="text-right">
        <p class="text-gray-500">Pris</p>
        <p>74.900 DKK</p>
      </div>
    </div>
  </div>
</a>





